/*
 * Globals
 */

/* Font */
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700,700i&display=swap');

/* Links */
a,
a:focus,
a:hover {
  font-weight: 700;
}

/* Custom default button */
.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
  color: rgb(255, 255, 255);
  background-color: #345281;
  border: .05rem solid #345281;
}

/* Form Updates */
.form-inline{
  justify-content: center;
}

/* Heading Updates */
h2{ 
  font-weight: 700;
  margin-bottom: .5em;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #e1f1f7;
  font-family: 'Ubuntu', sans-serif;

}
strong{
  font-weight: 700;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #345281;
}

.cover-container {
  max-width: 42em;
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  margin-left: .5em;
}
.logo{
  max-width: 320px;
  height: auto;
  margin: 0 20px 2em 20px;
}